@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow: hidden;
}

body {

   color: whitesmoke;
}

.container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 10%;
   background-color: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 10;
}

.logo {
   font-size: 40px;
   color: whitesmoke;
   text-decoration: none;
   font-weight: 600;
   position: relative;
}


.logo::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: .2s;
}

.navbar a {
   font-size: 20px;
   color: whitesmoke;
   text-decoration: none;
   font-weight: 510px;
   margin-left: 30px;
   transform: .4s;
   position: relative;
}

.navbar a::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: .3s;
}

.navbar a:hover,
.navbar a.active {
   color: deeppink;

}

.content {
   height: 100vh;
   display: flex;
   align-items: center;
   padding: 0 10%;
   color: white;
   background: url(../images/bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
}

.content::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: .4s;
}

.main-content {
   max-width: 600px;
}

.main-content h1 {
   font-size: 57px;
   font-weight: 700;
   line-height: 1.2;
   position: relative;
}

.main-content h1::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: .4s;
}

.main-content h3 {
   font-size: 30px;
   font-weight: 600px;
   color: lightgreen;
   position: relative;
}

.main-content h3::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: .6s;
}

.main-content p {
   font-size: 16px;
   margin: 20px 0 40px;
   position: relative;
}

.main-content p::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: .8s;
}

.b-box a {
   width: 150px;
   height: 100%;
   justify-content: center;
   align-items: center;
   display: inline-flex;
   position: relative;
   background-color: aqua;
   border: 3px solid aqua;
   border-radius: 7px;
   font: 19px;
   color: wheat;
   text-decoration: none;
   font-weight: 700;
   letter-spacing: 1px;
   z-index: 1;
   overflow: hidden;
   transform: .5s;
}

.button-box a::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: 1.0s;
}

.socail-media {
   position: absolute;
   bottom: 40px;
   width: 170px;
   display: flex;

   justify-content: space-between;
   z-index: 1;
}



.socail-media a {
   display: inline-flex;
   width: 40px;
   height: 40px;
   background-color: transparent;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 20px;
   border: 2px solid aqua;
   text-decoration: none;
   position: relative;
   z-index: 1;
   overflow: hidden;
   transform: .5s;
   position: relative;
}

.socail-media a:hover {
   color: black;
   background-color: aqua;
}

.socail-media a:hover::before {
   width: 100%;
}

.image-hover {
   position: absolute;
   top: 0;
   right: 300px;
   width: 650px;
   height: 100%;
   background: transparent;
   transition: 3s;
}

.image-hover:hover {
   background-color: #202928;
   opacity: 0.8;
}

/* keyframes Animation */

@keyframes showright {
   100% {
      width: 0;
   }
}

.frame {
   width: 90%;
   margin: 40px auto;
   text-align: center;
}

button {
   margin: 20px;
   position: relative;
}

.custom-btn {
   width: 130px;
   height: 50px;
   color: #fff;
   border-radius: 5px;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   background: transparent;
   cursor: pointer;
   font-size: smaller;
   transition: all 0.9s ease;
   position: relative;
   display: inline-block;
   border: 1px solid #626060;
}

.custom-btn16 {
   width: 150px;
   height: 50px;
   color: #fff;
   border-radius: 5px;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   background: transparent;
   cursor: pointer;
   font-size: smaller;
   transition: all 0.9s ease;
   position: relative;
   display: inline-block;
   border: 1px solid #626060;
}

/* 15 */
.btn-15,
.btn-16 {
   background: transparent;
   z-index: 1;
   font-size: large;
   color: aqua;
   position: relative;
}

/* dought */
.custom-btn16::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background: #202928;
   animation: showright 1s ease forwards;
   animation-delay: 1.3s;
}

.btn-15:after,
.btn-16:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   z-index: -1;
   /* border: 1px solid #fff; */
   background-color: aqua;
   border-radius: 5px;
   transition: all 0.9s ease;
}

.btn-15:hover,
.btn-16:hover {
   color: black;
}

.btn-15:hover:after,
.btn-16:hover::after {
   left: 0;
   width: 100%;
}

.btn-15:active,
.btn-16:active {
   top: 2px;
}

/* 16 */
.btn-16 {
   /* border: none; */
   color: aqua;
   width: 25%;
}

.btn-16:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   left: 0;
   direction: rtl;
   z-index: -1;
   box-shadow:
      -7px -7px 20px 0px #fff9,
      -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002,
      4px 4px 5px 0px #0001;
   transition: all 0.3s ease;
}

.btn-16:hover {
   color: #000;
}

.btn-16:hover:after {
   left: auto;
   right: 0;
   width: 100%;
}

.btn-16:active {
   top: 2px;
}